<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DAOEtudiantPortBinding" />
                <binding name="DAOLivrePortBinding" />
                <binding name="DAOEmpruntPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8082/Etudiant" binding="basicHttpBinding"
                bindingConfiguration="DAOEtudiantPortBinding" contract="DaoEtud.IDAOEtudiant"
                name="DAOEtudiantPort" />
            <endpoint address="http://localhost:8082/Livre" binding="basicHttpBinding"
                bindingConfiguration="DAOLivrePortBinding" contract="DaoLiv.IDAOLivre"
                name="DAOLivrePort" />
            <endpoint address="http://localhost:8082/Emprunt" binding="basicHttpBinding"
                bindingConfiguration="DAOEmpruntPortBinding" contract="DaoEmp.IDAOEmpreint"
                name="DAOEmpruntPort" />
        </client>
    </system.serviceModel>
</configuration>